body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/* background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);*/
 /*  background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%); */
 background-image: linear-gradient(to top, #944d46 0%, #f5efef 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
